@import "mixin/prefixer";

@import "mixin/border-radius";

@import "mixin/opacity";

@import "mixin/ellipsis";

.border-radius {
  width: 100px;
  height: 100px;
  @include ellipsis();
  border: 1px solid #000;
}
