@import "mixy-sass/_mixy.scss";

.border-radius {
  position: relative;
  border: 1px solid #000;
  @include  transition(all 0.5s ease-in-out);
  @include font-size(25px, em);
  @include rotate(5deg);
  @include skew(5deg, 10deg);
  @include scale(2,2);
  @include translateX(20px);
  @include box-shadow(10px 5px 5px rgba(#000,0.5));
}

// define animation
@include keyframes(scale) {
  0% {
    @include border-radius(3px);
    opacity: 0.5;
  }
  100% {
    @include border-radius(4px);
    opacity: 1;
  }
}
